*{
    margin: 5;
    padding: 10;
    box-sizing: border-box;
}

Body  {
    font-family: Arial, sans-serif;
    background-color: #a2a480;
    color: #333;
    line-height: 1.6;
}
Body h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #024f09;
}

    .top-right-image {
        position: absolute;
        top: 17.5px;
        right: 17.5px;
        width: 175px;
        height: auto;
    }
   
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    height: 100vh;

}
.grid-item h2{
    background-color: #0d491d;
    border: 1px solid #103814;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 5px;
}
.grid-item  {
    margin-bottom: 10px;
    color: #007BFF;
}
.grid-item p {
    font-size: 16px;
}
.grid-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
{
    
}
