*{
    margin: 5;
    padding: 10;
    box-sizing: border-box;
}

Body  {
    font-family: Arial, sans-serif;
    background-color: #a2a480;
    color: #333;
    line-height: 1.6;
}
Body h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #024f09;
}

    .top-right-image {
        position: absolute;
        top: 17.5px;
        right: 17.5px;
        width: 175px;
        height: auto;
    }
   
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    height: 100vh;

}
.footer{
    background-color: #024f09;
    color: rgb(64, 189, 75);
    text-align: bottom center;
    padding: 10px 0;
    position: bottom center;
    bottom: 0;
    width: 100%;
}

    .guestContainer {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    background-color: #1c661d;
    padding: 15px;
    border-radius: 8px;
    overflow-y: auto;
    position: bottom right
    ;
}