*{
    margin: 5;
    padding: 10;
    box-sizing: border-box;
}

body  {
    font-family: Arial, sans-serif;
    background-color: #a2a480;
    color: #363636;
    line-height: 1.6;
}
body h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #7f794c;
}

    .top-right-image {
        position: absolute;
        top: 17.5px;
        right: 17.5px;
        width: 175px;
        height: auto;
    }
   
    .services {
        background-color: #1c8825;
        color: rgb(87, 91, 87);
        padding: 20px;
        border-radius: 8px;
        margin-bottom: 20px;
    }   
   
.areas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 0px;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    height: 25vh;

}
.footer{
    background-color: #024f09;
    color: rgb(64, 189, 75);
    text-align: bottom center;
    padding: 10px 0;
    position: bottom center;
    bottom: 0;
    width: 100%;
}

    .guests{
    float: right;
    background-color: #c4e1c4;
    padding: 15px;
    border-radius: 8px;
    overflow-y: auto;
    position: right
    ;
}